<!DOCTYPE html>
<html>

<head>
  <title>作業練習：元件變換</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="images/favicon.ico" rel="shortcut icon">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/stylesheets/all.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js"
    integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l"
    crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/regular.js"
    integrity="sha384-t7yHmUlwFrLxHXNLstawVRBMeSLcXTbQ5hsd0ifzwGtN7ZF7RZ8ppM7Ldinuoiif"
    crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js"
    integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c"
    crossorigin="anonymous"></script>
  <script src="/javascripts/vendor.js"></script>

</head>

<body class="bg-lighter">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Vue.js 練習手冊</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/basic/dev.html">基礎教學</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/template/basic.html">模板指令</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/components/basic.html">組件</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/api/vue_set.html">常用 API</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/es6/let_const.html">ES6</a>
        </li>

      </ul>
    </div>
  </nav>
  <div class="container my-5">
    <div class="row">
      <div class="col-md-3">
        <div>
          <h6 class="text-capitalize text-muted">components</h6>


          <a href="/components/basic.html" class="btn btn-block btn-link">
            基礎元件
          </a>



          <a href="/components/function_return.html" class="btn btn-block btn-link">
            元件必須使用 function return
          </a>



          <a href="/components/prop_basic.html" class="btn btn-block btn-link">
            由外到內的資料傳遞
          </a>



          <a href="/components/prop_adv.html" class="btn btn-block btn-link">
            Props 注意事項
          </a>



          <a href="/components/prop_type.html" class="btn btn-block btn-link">
            Props 的型別
          </a>



          <a href="/components/emit.html" class="btn btn-block btn-link">
            向外層傳送事件(Data)
          </a>



          <a href="/components/slot.html" class="btn btn-block btn-link">
            Slot 插槽替換
          </a>



          <a href="/components/is.html" class="btn btn-block btn-link">
            動態組建切換
          </a>



          <a href="/components/eventbus.html" class="btn btn-block btn-link">
            Event Bus
          </a>



          <a href="/components/homework_component.html" class="btn btn-block btn-primary active">
            作業練習：元件變換
          </a>


        </div>
      </div>

      <div class="col-md-9 post">
        <!-- 練習開始 -->
        <h1 class="mt-0 text-muted">作業練習：元件變換</h1>

        <h3>模板練習作業：Ajax 資料內容呈現</h3>
        <p>本作業一定要用到元件。</p>
        <div class="alert alert-secondary">
          <p>提示：</p>
          <ol class="mb-0">
            <li>將資料內容透過 "元件" 呈現</li>
            <li>製作城市過濾選項</li>
            <li>將內層資料透過 emit 傳遞到外層 (作為另一個關注城市的呈現)</li>
            <li>依據不同污染呈現不同色彩</li>
            <li>加分題：透過 localStorage 儲存上次關注的城市</li>
          </ol>
        </div>

        <div id="app">
          <div class="row mb-3"> 
            <div class="col-12"><h6>色彩表示</h6></div>
            <div class="col-lg-4 col-6"><p><span class="aqi status-aqi1"></span>良好</p></div>
            <div class="col-lg-4 col-6"><p><span class="aqi status-aqi2"></span>普通</p></div>
            <div class="col-lg-4 col-6"><p><span class="aqi status-aqi3"></span>對敏感族群不健康</p></div>
            <div class="col-lg-4 col-6"><p><span class="aqi status-aqi4"></span>對所有族群不健康</p></div>
            <div class="col-lg-4 col-6"><p><span class="aqi status-aqi5"></span>非常不健康</p></div>
            <div class="col-lg-4 col-6"><p><span class="aqi status-aqi6"></span>危害</p></div>
          </div>
          <hr>
          <div class="row">
            <div class="col-12"> <h3>歷史關注城市</h3></div>  
          </div>

          <citycard_focus :show_data="localStorage"  @up_local_storage="upLocalStorage" v-if='allData[0]'>
            <div class="col-12" v-if='focusArr.length==0'>
              <p>no data!</p>
            </div>
          </citycard_focus>
        
          <div class="row">
            <div class="col-12"> <h3>選擇要查詢的地區</h3></div>         
            <div class="col-12">
              <select class="form-control mb-3" @change='getLocaData' v-if='initOption[0]'>
                <option value="" disabled selected> --- 請選擇城市 --- </option>
                <option v-for="(item,i) in initOption">{{item}}</option>
              </select>
            </div>
          </div>

          <citycard_use-select :show_data="useSelect"  @up_local_storage="upLocalStorage" v-if='allData[0]'></citycard_use-select>

        </div>

        <script type="text/x-template" id="citycard_use-select">
          <div class="row mb-5">
            <slot>
              <div class='col-lg-3 col-sm-12 mt-3' v-for="(item,index) in show_data">
                <div class="card"  :class="item.isClass">
                  <div class="card-header" @click.prevent="item.focus=!item.focus, updata_focus(item)">{{item.SiteName}}
                    <a href="#" class="float-right" >     
                      <div v-if="item.focus == false">
                        <i class="far fa-star"></i>
                      </div>
                    </a>
                    <a href="#" class="float-right">
                      <div v-if="item.focus == true" >
                        <i class="fas fa-star"></i>
                      </div>
                    </a>
                  </div>
                  <div class="card-body" >
                    <ul class="list-unstyled" >
                      <li>AQI 指數: {{item.AQI}}</li>
                      <li>PM2.5: {{ item["PM2.5"] }}</li>
                      <li>說明: {{item.Status}}</li>
                    </ul>
                    <p>{{item.PublishTime}}</p>
                  </div>
                </div>
              </div>
            </slot>
          </div>
        </script>


        <script>        
          Vue.component('citycard_focus', {
            template: '#citycard_use-select',
            props: ['show_data'],
            methods: {
              updata_focus: function(item){
                //加入瀏覽器暫存
                this.$emit('up_local_storage',item) 
              }
            }
          });

          Vue.component('citycard_use-select', {
            template: '#citycard_use-select',
            props: ['show_data'],
            methods: {  
              updata_focus: function(item){
                //加入瀏覽器暫存
                this.$emit('up_local_storage',item) 
              }
            }
          })

          var app = new Vue({
            el: '#app',
            data: {
              allData: [], //全部的資料
              localStorage: [], //歷史關注
              useSelect: [], //使用者查詢的區域
              focusArr:[], //關注城市的id
              initOption: ['所有資料'], //初始下拉選項
              optionValue: '' //select選單
            },
            created: function () {
              const vm = this;
              // 抓取 API 來源(JSON)
              // https://opendata.epa.gov.tw/Data/Contents/AQI/
              const api = 'http://opendata2.epa.gov.tw/AQI.json';
              $.get(api).then(function (response) {
                response.forEach((item, index) => {
                  item.focus = false;
                  vm.allData.push(item);
                  vm.initCard();          
                })
              });  
            },
            methods: {
              initCard: function(){
                const vm = this;
                const cityOption = vm.initOption;
                //初始localStorage
                vm.initLocalStorage();
                //初始卡片樣式
                vm.allData.forEach((item, index)=>{
                  vm.cardCssStyle(item)
                })             
                //初始下拉選項
                vm.allData.forEach((item, index) => {
                  if (cityOption.indexOf(item.County) === -1) {
                    cityOption.push(item.County)
                  }
                });
                //印出卡片
                vm.getLocaData();
              },
              initLocalStorage : function(){
                //抓取localStorage
                const vm = this;
                vm.localStorage = [];
                vm.focusArr = []
                var getData = localStorage.getItem('isFocus');
                if(getData == null){
                  return;
                }else{ 
                  vm.localStorage = JSON.parse(getData);
                  vm.localStorage.forEach((item)=>{
                    vm.focusArr.push(item.SiteId)
                  })
                  vm.allData.forEach((all_item)=>{
                  vm.localStorage.forEach((loca_item)=>{
                      if(all_item.SiteId == loca_item.SiteId){
                        all_item.focus = true;
                      }
                    })
                  })
                }
              },
              upLocalStorage : function(item){
                const vm = this;   
                if(vm.localStorage.length === vm.focusArr.length){              
                  let isRepeat = vm.focusArr.indexOf(item.SiteId);
                  if(isRepeat > -1){
                    console.log('取消關注')
                    vm.localStorage.splice(isRepeat,1);
                    vm.focusArr.splice (isRepeat,1);
                    let dataString = JSON.stringify(vm.localStorage);
                    localStorage.setItem('isFocus',dataString);
                    return
                  }else{
                    console.log('增加關注')
                    vm.localStorage.push (item);
                    vm.focusArr.push (item.SiteId);
                    let dataString = JSON.stringify(vm.localStorage);
                    localStorage.setItem('isFocus',dataString);
                  }    
                }else{
                  console.log('initLocalStorage')
                  vm.initLocalStorage()
                }           
              },
              getLocaData: function () {
                //使用者查詢區域的城市資料
                let vm = this;
                vm.optionValue = document.querySelector("select").value;
                vm.useSelect = [];
                if(vm.optionValue == '所有資料' || vm.optionValue ==  ""){
                  vm.useSelect = vm.allData;
                }else{
                  vm.allData.forEach((item, index) => {
                    if (item.County === vm.optionValue) {
                      vm.cardCssStyle(item);
                      vm.useSelect.push(item);
                    };
                  });
                }
              },
              cardCssStyle: function(item){
                switch (item.Status) {
                  case '良好': {
                    return item.isClass = 'status-aqi1';
                  }
                  case '普通': {
                    return item.isClass = 'status-aqi2';
                  }
                  case '對敏感族群不健康': {
                    return item.isClass = 'status-aqi3';
                  }
                  case '對所有族群不健康': {
                    return item.isClass = 'status-aqi4';
                  }
                  case '非常不健康': {
                    return item.isClass = 'status-aqi5';
                  }
                  case '危害': {
                    return item.isClass = 'status-aqi6';
                  }
                };
              }     
            },            
          });
        </script>
        <style>
          .status-aqi1 {
            background-color: #c9e5ec;
          }

          .status-aqi2 {
            background-color: #e9e993;
          }

          .status-aqi3 {
            background-color: #ff7e00;
          }

          .status-aqi4 {
            background-color: #ff0000;
          }

          .status-aqi5 {
            background-color: #8f3f97;
          }

          .status-aqi6 {
            background-color: #7e0023;
          }
          span.aqi{
            width: 10px;
            height: 10px;
            display: inline-block;
            margin-right: 5%;
          }
        </style>
      </div>
    </div>
  </div>
</body>
</html>